.body{
    background-color: black;
}
.container{
    position: fixed;
}
.column1{
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: red;
}
.column1 p{
    color: red;
}
.column2{
    position: fixed;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: red;
}
.column2 img{
    width: 500px;
    height: 500px;
    left: 20%;
    position: fixed;
}
.column3{
    right: 0;
    width: 100px;
    height: 100px;
}
.column3 audio{
    width: 100px;
    height: 50px;
    background-color: red;
    bottom: 100%;
}
.column4{
    width: 100px;
}
.column5{
    width: 100px;
}
.column5 img{
    position: fixed;
    right: 0%;
    bottom: 10%;
}
.column4 img{
    position: fixed;
    left: 10%;
}